.loginbgimage {
    background-color: #2d2d2d;
}

.larger-column .x-grid-row .x-grid-cell {
    font-size: 14px;
}

.larger-column.x-grid-with-row-lines .x-grid-cell-inner {
    line-height: 35px;    
}

.larger-white-font.x-btn-default-toolbar-large .x-btn-inner {
    color: white;
    font-size: 18px; 
}

.larger-white-font.x-btn-default-toolbar-large-menu-active .x-btn-inner {
    color: black;
}

.larger-white-font.x-btn-default-toolbar-large-over .x-btn-inner {
    color: black; 
}

.icon-reset {
    background-image: url(../images/stop.png) !important;
}

.icon-change {
    background-image: url(../images/edit.png) !important;
}

.icon-add {
    background-image: url(../images/add.png) !important;
}

.icon-delete {
    background-image: url(../images/delete.png) !important;
}

.icon-search {
    background-image: url(../images/search.png) !important;
}

.icon-export {
    background-image: url(../images/export.gif) !important;
}

.icon-print {
    background-image: url(../images/mprint.gif) !important;
}

.icon-view {
    background-image: url(../images/view.png) !important;
}

.icon-save {
    background-image: url(../images/disk.png) !important;
}

.icon-back {
    background-image: url(../images/back.png) !important;
}

#prompt-box-div {
    position: absolute;
    left: 38%;
    top: 40px;
    width: 300px;
    z-index: 500000;
}

#prompt-box-div .message {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #F6F6F6;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}

#prompt-box-div .message h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 13px;
}

#prompt-box-div .message p {
    margin: 0;
    font-size: 9px;
    pading: 2px;
    padding-left: 10%;
}