<!DOCTYPE html>
<html>
<head>
  <title>HomeWork</title>
  <%#= stylesheet_link_tag    "application", :media => "all" %>
  <%#= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" type="text/css" href="extjs/resources/css/ext-all-gray.css">
  <link rel="stylesheet" type="text/css" href="resources/css/ext-self.css">

  <!--<script type="text/javascript" src="extjs/ext.js"></script>-->
  <script type="text/javascript" src="extjs/ext-all.js"></script>
  <!--<script type="text/javascript" src="all-classes.js"></script>-->
  <!--<script type="text/javascript" src="app-all.js"></script>-->
  <script type="text/javascript" src="Addition/tool/Base.js"></script>

  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="extjs/locale/ext-lang-zh_CN.js"></script>
  <script type="text/javascript" src="app/locale/zh_CN.js"></script>
  </head>
<body>

<%= yield %>

</body>
</html>
